<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Traffic Meister application</title>
</head>

<body>

  <div id="app">


      <p v-if="!ready">
        Bezig met laden.....
      </p>

      <p v-if="error">
        Er is een fout opgetreden: {{error}}<br />
        Refresh de pagina!
      </p>

      <form v-if="!error && ready" method="post">
      
        <p>Selecteer een type:</p>
        <select id="vehicle-type" v-model="selected_type">
          <option v-for="type in types" :value="$key">{{$key}} ({{type.length}})</option>
        </select>

        <div v-if="selected_type">
          <p>Selecteer een {{selected_type}}</p>
          <select id="vehicles" v-model="selected_vehicle">
            <option v-for="vehicle in types[selected_type]" :value="vehicle">{{vehicle.brand}}</option>
          </select>
        </div>

        <div v-if="selected_vehicle">
          <img :src="selected_vehicle.img" :alt="selected_vehicle.brand"/>
          <p>Selecteer een kleur voor {{selected_vehicle.brand}}</p>
          <select id="vehicles" v-model="selected_vehicle_color">
            <option v-for="color in selected_vehicle.colors" :value="color">{{color}}</option>
          </select>
          <div v-if="selected_vehicle_color" style="width:100px; height: 100px; background-color:{{selected_vehicle_color}}"></div>
        </div>

        <p></p>

        <input type="submit" :disabled="!form_valid" value="Verzenden" /> 

      </form>

  </div>


<script src="../dist/bundle.js"></script>
</body>

</html>
